package pages

import "github.com/KrisjanisP/personal-dashboard/web/templates/shared"
import "github.com/KrisjanisP/personal-dashboard/web/templates/components"

templ AuthenticationPage(errorMsg *string) {
	@shared.Page() {
        @components.LoginForm(errorMsg)
	}
}
